// ==============================================
// HOME
// ==============================================

// Presentation album
.page__home
    @include media-breakpoint-down(mobile)
        .hero
            .content
                display: flex
                flex-direction: column-reverse
                align-items: center
                .hero-text
                    margin-bottom: .5rem
                    margin-top: .5rem
            .image-portrait
                margin-bottom: .5rem

    @include media-breakpoint-up(lg)
        .hero
            .content 
                flex-direction: row-reverse
                padding-top: 1rem
                .hero-text
                    width: columns(6)
                figure
                    width: columns(6)
